<!DOCTYPE HTML>
<html>
	<head>
		<title>Simple Deadline Assistant - Gajah</title>
		<link link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
	</head>
	<body>
		<header>
			<h1>Gajah</h1>
			<p>Gajah tidak pernah lupa (kecuali di-restart)</p>
		</header>
		<main>
			<div id="content">
				<section id="messages">
					{% for message in message_data %}
					<div class="user-message">
						<p>{{ message[0] }}</p>
					</div>
					<div class="bot-message">
						{% for bot_message_line in message[1] %}
						<p>{{ bot_message_line }}</p>
						{% endfor %}
					</div>
					{% endfor %}
				</section>
				<section id="input-area">
					<form method="post">
						<input name="user-input" placeholder="Pesan" required autofocus>
						<button type="submit">Kirim</button>
					</form>
				</section>
			</div>
		</main>
		<footer>
			<section id="author">
				<h2>Pembuat</h2>
				<p>Abdi</p>
				<p>Fathur</p>
				<p>Helkia</p>
			</section>
		</footer>
	</body>
</html>